/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
  width:100%;
}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;    
  border: 0px solid #CCC;    
/*  overflow:hidden;*/
  clear:both;
/*  height:300px;*/
  background:#fff;
}

.swMain .stepContainer div.content {
  display:block;
  position: absolute;  
  float:left;
  margin: 0;
  padding:0px;    
/*  border: 1px solid #CCC; 
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; */
  color:#5A5655;   
  background-color:#fff;  
/*  height:300px;*/
  text-align:left;
  overflow:visible;    
  z-index:88; 
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  width:100%;
  clear:both;
}

.swMain div.actionBar {
  display:block;
  position: relative; 
  clear:both;
  margin:             3px 0 0 0;   
/*  border:             1px solid #CCC;*/
  padding:            0;    
  color:              #5A5655;   
  background-color:   #F8F8F8;
  height:40px;
  text-align:left;
  overflow:auto;    
  z-index:88; 

  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius  : 0 0 5px 5px;
  left:0;
}

.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;   
  border:1px solid #E0E0E0;
  padding:5px;   
 
  color:#5A5655;   
  background-color:#E0E0E0;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;    
}
.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0px;  
  margin: 10px 0;      
  clear: both;
  border: 0px solid #CCCCCC;    
  background: transparent; /*#EEEEEE */
  width:100%;
  -webkit-border-radius: 20px;
  -moz-border-radius  : 20px;   
  border-radius: 20px;
  overflow: hidden;
}
.swMain ul.anchor li{ 
  position: relative; 
  display:block;
  margin: 0;
  padding: 0; 
  /*padding-left:3px;
  padding-right: 3px;*/
  border: 0px solid #E0E0E0;      
  float: left;
  width:33.3%;
}
/* Anchor Element Style */
.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin:0;
  padding:3px;
  height:40px;
  width:100%;
  text-decoration: none;
  outline-style:none;
  /*-moz-border-radius  : 5px;
  -webkit-border-radius: 5px;*/
  z-index:99;
  overflow: hidden;
}
.swMain ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  width:30px;
  text-align: center;
  padding:5px;
  padding-top:0;
  margin-right: 20px;
  font: bold 26px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align: left;
  padding:5px;

  font: bold 20px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a.selected{
  color:#F8F8F8;
  background: #002539;  /* EA8511 */
  border: 1px solid #002539;
  cursor:text;
 
}
.swMain ul.anchor li a.selected:hover {
  color:#F8F8F8;  
  background: #193a4c;  
}

.swMain ul.anchor li a.done { 
  position:relative;
  color:#009b7a;  
  background: #ccd3d7;  
  border: 1px solid #ccd3d7;   
  z-index:99;
  background-image: url(../images/img-check-comp-form.png) !important;
background-repeat: no-repeat;
background-position: right;
background-size: 35px;
}
.swMain ul.anchor li a.done:hover {
  color:#fff;  
  background: #33af95; 
  border: 1px solid #33af95;   
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px;
}
.swMain ul.anchor li a.disabled {
  color:#ccc;  
  background: #F8F8F8;
 border: 1px solid #F8F8F8; 
  cursor:text;   
}
.swMain ul.anchor li a.disabled:hover {
  color:#fff;  
  background: #ccd3d7;     
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;  
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;      
}
.swMain ul.anchor li a.error:hover {
  color:#000 !important;       
}

.swMain .buttonNext {
  display:inline-block;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #f49e38;
  border: 1px solid #f49e38;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;    
}
.swMain .buttonPrevious {
  display:inline-block;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonFinish {
  float: right;
  display:inline-block;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #009b7a;
  border: 1px solid #009b7a;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loader.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;         
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;  
}
.swMain .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0px;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;  
}

legend {text-align:center;
display: block;
width: 100%;
padding: 20px;
margin-bottom: 0px;
font-size: 21px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 0;
top: 0 !important;
position: relative;
background: #fafafa;
}

fieldset input{
padding: 7px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
/* width: 100%; */
box-sizing: border-box;
font-family: montserrat;
color: #2C3E50;
font-size: 13px;
font-weight: normal;
margin-right: 30px;

}

label span {display: inline-block;
width: 160px;
text-align: left;
padding-right: 5px;}

.fs-subtitle {
font-weight: normal;
font-size: 18px;
color: #009b7a;
margin-bottom: 20px;
display: block;
border-top: solid 1px #efefef;
padding-top: 20px;
}

.checktitle {
display: block;
text-align: center;
margin: 20px 20px 0 20px;


}

.asterisk {
display: inline;
width: auto;
text-align: right;
padding-right: 0;
color:#E31837;
}

.checkimg {
margin-top: 10px;
margin: auto;
}

/*label {
display: inline-block;
margin-bottom: 5px;
font-weight: 200;
text-align: left;
font-size: 12px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: 1px;
}*/

.form-control {
display: inline-block;
max-width: 100% !important;
width:auto;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fs-title {
font-size: 24px;
text-transform: uppercase;
color: #2C3E50;
margin-top: 0px;

}

.mobilecheck{padding-left: 165px;}

.space{height:50px;}

div#wizard {
  margin: 3% auto 10%;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px) {
	label span {
width:auto;
text-align: left;
display: block;
float: left;
}

.milselect label:first-of-type {
 margin-right: 0px !important; 
}
.swMain ul.anchor li a .stepNumber {
position: relative;
float: none;
width: 30px;
text-align: center;
padding: 5px;
padding-top: 0;
margin-right: 20px;
font: bold 26px Verdana, Arial, Helvetica, sans-serif;
margin: auto;
display: block;
}
.swMain ul.anchor li a .stepDesc{display:none;}
}